---
layout: page
---

<div style="text-align: center;">
    读书读书还是tmd读书
</div>
<br />
<% site.posts.each(function(post){ %>
<% if (post.book){ %>
<div>
    <a href="<%- config.root %><%- post.path %>">
        <div class="book-cover" style="display: inline-block;width: 40%">
            <img src="<%- post.bookcover %>" width="130" height="173" />
        </div>
    </a>
    <div class="post-preview" style="display: inline-block;width: 60%;float: right;">

        <a href="<%- config.root %><%- post.path %>">
            <h2 class="post-title">
                <% if (post.top){ %>
                <i class="fa fa-thumb-tack" style="color:#F4711F"></i>
                <font color=#F4711F>置顶</font>
                <% } %>
                <%- post.title || "Untitled" %>
            </h2>
            <h3 class="post-subtitle">
                <%- post.subtitle || "" %>
            </h3>
            <div class="post-content-preview">
                <%- truncate(strip_html(post.content), {length: 50, omission: '...'}).replace(/[\d]{5,}/i, '') %>...
            </div>
        </a>
        <% if (config.home_posts_tag){%>
        <p class="post-meta" style="margin: 10px 0;">
            Posted by <%- post.author || config.author %> on
            <%= post.date.format(config.date_format) %>
            <br />
            <span class="post-count"> 文章字数: <%= wordcount(post.content) %></span>
            <span class="post-count"> 阅读时间: <%= min2read(post.content, {cn: 150, en: 150}) %>分钟</span>
        </p>
        <div class="tags">
            <% post.tags.forEach(function(tag){ %>
            <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
        </div>
        <%} else {%>
        <p class="post-meta">
            Posted by <%- post.author || config.author %> on
            <%= post.date.format(config.date_format) %>
            <span class="post-count"> 文章字数: <%= wordcount(post.content) %></span>
            <span class="post-count"> 阅读时间: <%= min2read(post.content, {cn: 150, en: 150}) %>分钟</span>
        </p>
        <%}%>
            </div>
        </div>
        <hr>
    <% } %>
        <% }); %>