<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    <!-- <canvas id="canvas" style="z-index: -1;position: absolute; top: 300px;"></canvas> -->

	<%- partial('_partial/header',{cache: true}) %>
	
    <%- partial('_partial/nav',{cache: true}) %>

    <!-- Main Content -->
    <%- body %>

    <!-- Footer -->
    <%- partial('_partial/footer') %>

<!-- <script type="text/javascript">
    var width = document.body.clientWidth;
    var height = document.body.clientHeight-300;
    var can = document.getElementById("canvas");
    can.setAttribute("width",width);
    can.setAttribute("height",height);
    var con = can.getContext("2d");
    var x = width*Math.random();
    var y = height*Math.random();
    var x = [],y = [],vx = [],vy = [];
    var num = 80;
    var v = 2;
    for(var j=0;j<num;j++){
        x[j] = width*Math.random();
        y[j] = height*Math.random();
        vx[j] = v*Math.random() * (Math.random()>0.5?-1:1);
        vy[j] = v*Math.random() * (Math.random()>0.5?-1:1);
    }
    var draw = function(){
        con.clearRect(0,0,width,height);
        for(var i=0;i<num;i++){
        con.fillStyle = "rgba(206,209,208,0.6)";
        con.beginPath();
        con.arc(x[i],y[i],4,0,2*Math.PI,false);
        con.fill();	
        }
    };
    var move = function(){
        for(var k=0;k<num;k++){
            x[k] += vx[k];
            y[k] += vy[k];
            if(x[k]+5>=width||x[k]<5){
                vx[k] = -vx[k];
            }else if(y[k]+5>=height||y[k]<5){
                vy[k] = -vy[k];
            }
        }
    };
    var line = function(){
        for(var i=0;i<num;i++){
            for(var j=0;j<num;j++){
                if(j!=i){
                    if([Math.pow(x[i]-x[j],2)+Math.pow(y[i]-y[j],2)]>30000){
                        continue;
                    }
                    con.beginPath();
                    con.lineWidth="0.3";
                    con.strokeStyle = "#c7c7c7";
                    con.moveTo(x[i],y[i]);
                    con.lineTo(x[j],y[j]);
                    con.stroke();
                }
            }
        }
    }
    if(width > 1000) {
        setInterval(function(){
            draw();
            line();
            move();
        },1000);
    }
</script> -->


	<a id="rocket" href="#top" class=""></a>
	<script type="text/javascript" src="/js/totop.js?v=1.0.0" async=""></script>
    <script type="text/javascript" src="/js/toc.js?v=1.0.0" async=""></script>
<!-- Image to hack wechat -->
<img src="<%= config['url'] %><%= config['root'] %>img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
</body>

</html>
